<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>


<header th:fragment="navbar" >
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Kimbr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" style="float: right;" id="navbarsExample02">

            <form class="form-inline my-2 my-md-0" th:action="@{/search}" method="post" >
                <input class="form-control" name="q" type="text" placeholder="Søk">
            </form>
            <div class="form-inline my-2 my-md-0" >
                <a th:href="@{/cart}" ><img class="btn btn-outline-success" style="margin-left: 5px;" src="/img/cart_empty.png"></img></a>
            </div>

            <div class="form-inline my-2 my-md-0" >
                <a th:href="@{/profile}" ><img class="btn btn-outline-success" style="margin-left: 5px;" src="/img/profile.png"></img></a>
            </div>

        </div>
    </nav>
</header>


<head th:fragment="head" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/bootstrap-solid.ico">

    <title>Kimber</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

    <!-- Custom styles for this template -->
    <link href="/css/album.css" rel="stylesheet">
</head>


<div th:fragment="bottom" >

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Gå til topp</a>
            </p>
            <p>ENT1000 prosjekt</p>

        </div>
    </footer>

    <script src="/js/jquery-3.2.1.slim.min.js" ></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/bootstrap.min.js" ></script>


</div>



</body>

