<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Kimbr login</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" th:action="@{/login}" >
    <img class="mb-4" src="/img/bootstrap-solid.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Kimbr</h1>
    <label for="inputEmail" class="sr-only">Brukernavn</label>
    <input type="username" value="test" name="username" id="inputEmail" class="form-control" placeholder="Brukernavn" required autofocus>
    <label for="inputPassword" class="sr-only">Passord</label>
    <input type="password" value="test" name="password" id="inputPassword" class="form-control" placeholder="Passord" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Logg in</button>
    <p class="mt-5 mb-3 text-muted">ENT1000 - V18</p>
</form>
</body>
</html>
