<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Kimber</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/album.css" rel="stylesheet">
</head>

<body>

<header>


    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Kimbr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">

            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
            </form>
            <div class="form-inline my-2 my-md-0" >
                <img class="btn btn-outline-success" style="margin-left: 5px;" src="/img/cart_empty.png"></img>
            </div>

            <div class="form-inline my-2 my-md-0" >
                <img class="btn btn-outline-success" style="margin-left: 5px;" src="/img/profile.png"></img>
            </div>

        </div>
    </nav>


    <!--
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Søk etter</h4>

          <form>

            <div class="form-group">
                <input type="text" class="form-control" id="inputAddress" placeholder="Varenavn">
            </div>

            <h4 class="text-white">Uten</h4>


              <div class="col-sm-7" >

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Gluten">
                      <label class="form-check-label" for="Gluten" >
                          <a style="color:white;"  >Gluten</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Egg">
                      <label class="form-check-label" for="Egg" >
                          <a style="color:white;"  >Egg</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Soya">
                      <label class="form-check-label" for="Soya" >
                          <a style="color:white;"  >Soya</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Melk">
                      <label class="form-check-label" for="Melk" >
                          <a style="color:white;"  >Melk</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Peanotter">
                      <label class="form-check-label" for="Peanotter" >
                          <a style="color:white;"  >Peanøtter</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Notter">
                      <label class="form-check-label" for="Notter" >
                          <a style="color:white;"  >Nøtter</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="spor">
                      <label class="form-check-label" for="spor" >
                          <a style="color:white;"  >spor av nøtter </a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Fisk">
                      <label class="form-check-label" for="Fisk" >
                          <a style="color:white;"  >Fisk</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Skalldyr">
                      <label class="form-check-label" for="Skalldyr" >
                          <a style="color:white;"  >Skalldyr</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Blotdyr">
                      <label class="form-check-label" for="Blotdyr" >
                          <a style="color:white;"  >Bløtdyr</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Sennep">
                      <label class="form-check-label" for="Sennep" >
                          <a style="color:white;"  >Sennep</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Sesamfro">
                      <label class="form-check-label" for="Sesamfro" >
                          <a style="color:white;"  >Sesamfrø</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Selleri">
                      <label class="form-check-label" for="Selleri" >
                          <a style="color:white;"  >Selleri</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Lupin">
                      <label class="form-check-label" for="Lupin" >
                          <a style="color:white;"  >Lupin</a>
                      </label>
                  </div>

                  <div class="col-sm">
                      <input class="form-check-input" type="checkbox" id="Svoveldioksid">
                      <label class="form-check-label" for="Svoveldioksid" >
                          <a style="color:white;"  >Svoveldioksid og sulfitter</a>
                      </label>
                  </div>

              </div>


            <button type="submit" class="btn btn-primary" style="margin-top:15px;" >Sign in</button>
            </form>
        </div>
        </div>


      </div>
    </div>


  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Kimbr</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  -->
</header>

<main role="main">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;" >
        <h2 class="display-4">Dine preferanser</h2>
    </div>

    <div class="container" style="max-width: 960px;" >
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Allergener</h4>
                </div>
                <div class="card-body">
                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Gluten">
                        <label class="form-check-label" for="Gluten" >
                            <a style="color:white;"  >Gluten</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Egg">
                        <label class="form-check-label" for="Egg" >
                            <a style="color:white;"  >Egg</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Soya">
                        <label class="form-check-label" for="Soya" >
                            <a style="color:white;"  >Soya</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Melk">
                        <label class="form-check-label" for="Melk" >
                            <a style="color:white;"  >Melk</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Peanotter">
                        <label class="form-check-label" for="Peanotter" >
                            <a style="color:white;"  >Peanøtter</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Notter">
                        <label class="form-check-label" for="Notter" >
                            <a style="color:white;"  >Nøtter</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="spor">
                        <label class="form-check-label" for="spor" >
                            <a style="color:white;"  >spor av nøtter </a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Fisk">
                        <label class="form-check-label" for="Fisk" >
                            <a style="color:white;"  >Fisk</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Skalldyr">
                        <label class="form-check-label" for="Skalldyr" >
                            <a style="color:white;"  >Skalldyr</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Blotdyr">
                        <label class="form-check-label" for="Blotdyr" >
                            <a style="color:white;"  >Bløtdyr</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Sennep">
                        <label class="form-check-label" for="Sennep" >
                            <a style="color:white;"  >Sennep</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Sesamfro">
                        <label class="form-check-label" for="Sesamfro" >
                            <a style="color:white;"  >Sesamfrø</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Selleri">
                        <label class="form-check-label" for="Selleri" >
                            <a style="color:white;"  >Selleri</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Lupin">
                        <label class="form-check-label" for="Lupin" >
                            <a >Lupin</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input class="form-check-input" type="checkbox" id="Svoveldioksid">
                        <label class="form-check-label" for="Svoveldioksid" >
                            <a >Svoveldioksid og sulfitter</a>
                        </label>
                    </div>
                </div>
            </div>

            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Animalske produkter</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">E-stoffer</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                </div>
            </div>


            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Butikker</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Produkt kategorier</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                </div>
            </div>

        </div>



</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Gå til topp</a>
        </p>
        <p>ENT1000 prosjekt</p>

    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
