<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head" ></div>

<body>

<div th:replace="header :: navbar" ></div>


<main role="main">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;" >
        <h2 class="display-4">Dine preferanser</h2>
    </div>

    <form th:action="@{/profile}" method="post" >
    <div class="container" style="max-width: 960px;" >
        <div class="card-deck mb-3 ">
            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Allergener</h4>
                </div>
                <div class="card-body">
                    <div class="col-sm">
                        <input  th:if="${list.contains('Gluten')}==true" class="form-check-input" type="checkbox" id="Gluten" name="Gluten" value="Gluten" checked >
                        <input  th:if="${list.contains('Gluten')}==false" class="form-check-input" type="checkbox" id="Gluten" name="Gluten" value="Gluten" >
                        <label class="form-check-label" for="Gluten" >
                            <a style="color:#E79B15;"  >Gluten</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Egg')}==true" class="form-check-input" type="checkbox" id="Egg" value="Egg" name="Egg" checked >
                        <input th:if="${list.contains('Egg')}==false" class="form-check-input" type="checkbox" id="Egg" value="Egg" name="Egg">
                        <label class="form-check-label" for="Egg" >
                            <a style="color:#E79B15;"  >Egg</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Soya')}==true" class="form-check-input" type="checkbox" id="Soya"  name="Soya" value="Soya" checked >
                        <input th:if="${list.contains('Soya')}==false" class="form-check-input" type="checkbox" id="Soya"  value="Soya" name="Soya">
                        <label class="form-check-label" for="Soya" >
                            <a style="color:#E79B15;"  >Soya</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Melk')}==true" class="form-check-input" type="checkbox" id="Melk"  value="Melk" name="Melk" checked >
                        <input th:if="${list.contains('Melk')}==false" class="form-check-input" type="checkbox" id="Melk"  value="Melk" name="Melk">
                        <label class="form-check-label" for="Melk" >
                            <a style="color:#E79B15;"  >Melk</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Peanotter')}==true" class="form-check-input" type="checkbox" id="Peanotter"  value="Peanotter" name="Peanotter" checked >
                        <input th:if="${list.contains('Peanotter')}==false" class="form-check-input" type="checkbox" id="Peanotter" value="Peanotter"  name="Peanotter">
                        <label class="form-check-label" for="Peanotter" >
                            <a style="color:#E79B15;"  >Peanøtter</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Notter')}==true" class="form-check-input" type="checkbox" id="Notter" value="Notter"  name="Notter" checked >
                        <input th:if="${list.contains('Notter')}==false" class="form-check-input" type="checkbox" id="Notter" value="Notter" name="Notter">
                        <label class="form-check-label" for="Notter" >
                            <a style="color:#E79B15;"  >Nøtter</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Spor')}==true" class="form-check-input" type="checkbox" id="Spor" value="Spor"  name="Spor" checked >
                        <input th:if="${list.contains('Spor')}==false" class="form-check-input" type="checkbox" id="Spor" value="Spor"  name="Spor">
                        <label class="form-check-label" for="Spor" >
                            <a style="color:#E79B15;"  >spor av nøtter </a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Fisk')}==true" class="form-check-input" type="checkbox" id="Fisk" value="Fisk" name="Fisk" checked >
                        <input th:if="${list.contains('Fisk')}==false" class="form-check-input" type="checkbox" id="Fisk" value="Fisk" name="Fisk">
                        <label class="form-check-label" for="Fisk" >
                            <a style="color:#E79B15;"  >Fisk</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Skalldyr')}==true" class="form-check-input" type="checkbox" id="Skalldyr" value="Skalldyr" name="Skalldyr" checked >
                        <input th:if="${list.contains('Skalldyr')}==false" class="form-check-input" type="checkbox" id="Skalldyr" value="Skalldyr" name="Skalldyr">
                        <label class="form-check-label" for="Skalldyr" >
                            <a style="color:#E79B15;"  >Skalldyr</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Blotdyr')}==true" class="form-check-input" type="checkbox" id="Blotdyr" value="Blotdyr" name="Blotdyr" checked >
                        <input th:if="${list.contains('Blotdyr')}==false" class="form-check-input" type="checkbox" id="Blotdyr" value="Blotdyr"  name="Blotdyr">
                        <label class="form-check-label" for="Blotdyr" >
                            <a style="color:#E79B15;"  >Bløtdyr</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Sennep')}==true" class="form-check-input" type="checkbox" id="Sennep" value="Sennep" name="Sennep" checked >
                        <input th:if="${list.contains('Sennep')}==false" class="form-check-input" type="checkbox" id="Sennep" value="Sennep"  name="Sennep">
                        <label class="form-check-label" for="Sennep" >
                            <a style="color:#E79B15;"  >Sennep</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Sesamfro')}==true" class="form-check-input" type="checkbox" id="Sesamfro" value="Sesamfro"  name="Sesamfro" checked >
                        <input th:if="${list.contains('Sesamfro')}==false" class="form-check-input" type="checkbox" id="Sesamfro" value="Sesamfro" name="Sesamfro">
                        <label class="form-check-label" for="Sesamfro" >
                            <a style="color:#E79B15;"  >Sesamfrø</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Selleri')}==true" class="form-check-input" type="checkbox" id="Selleri" value="Selleri"  name="Selleri" checked >
                        <input th:if="${list.contains('Selleri')}==false" class="form-check-input" type="checkbox" id="Selleri" value="Selleri"  name="Selleri">
                        <label class="form-check-label" for="Selleri" >
                            <a style="color:#E79B15;"  >Selleri</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Lupin')}==true" class="form-check-input" type="checkbox" id="Lupin" value="Lupin"  name="Lupin" checked >
                        <input th:if="${list.contains('Lupin')}==false" class="form-check-input" type="checkbox" id="Lupin" value="Lupin"  name="Lupin">
                        <label class="form-check-label" for="Lupin" >
                            <a style="color:#E79B15;" >Lupin</a>
                        </label>
                    </div>

                    <div class="col-sm">
                        <input th:if="${list.contains('Svoveldioksid')}==true" class="form-check-input" type="checkbox" id="Svoveldioksid" value="Svoveldioksid"  name="Svoveldioksid" checked >
                        <input th:if="${list.contains('Svoveldioksid')}==false" class="form-check-input" type="checkbox" id="Svoveldioksid" value="Svoveldioksid"  name="Svoveldioksid">
                        <label class="form-check-label" for="Svoveldioksid" >
                            <a style="color:#E79B15;" >Svoveldioksid og sulfitter</a>
                        </label>
                    </div>
                </div>
            </div>

            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Animalske produkter</h4>
                </div>
                <div class="card-body">
                    <div class="col-sm">
                        <input th:if="${list.contains('Storfekjott')}==true" class="form-check-input" type="checkbox" id="Storfekjott" value="Storfekjott" name="Storfekjott" checked >
                        <input th:if="${list.contains('Storfekjott')}==false" class="form-check-input" type="checkbox" id="Storfekjott" value="Storfekjott" name="Storfekjott" >
                        <label class="form-check-label" for="Storfekjott" >
                            <a style="color:#E79B15;"  >Storfekjøtt</a>
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm">
                        <input th:if="${list.contains('Skalldyr')}==true" class="form-check-input" type="checkbox" id="Skalldyr2"  value="Skalldyr" name="Skalldyr2" checked >
                        <input th:if="${list.contains('Skalldyr')}==false" class="form-check-input" type="checkbox" id="Skalldyr2"  value="Skalldyr" name="Skalldyr2">
                        <label class="form-check-label" for="Skalldyr2" >
                            <a style="color:#E79B15;"  >Skalldyr</a>
                        </label>
                    </div>
                </div>

                <div class="card-body">
                    <div class="col-sm">
                        <input th:if="${list.contains('Hvitkjott')}==true" class="form-check-input" type="checkbox" id="Hvitkjott" value="Hvitkjott" name="Hvitkjott" checked >
                        <input th:if="${list.contains('Hvitkjott')}==false" class="form-check-input" type="checkbox" id="Hvitkjott" value="Hvitkjott" name="Hvitkjott">
                        <label class="form-check-label" for="Hvitkjott" >
                            <a style="color:#E79B15;"  >Hvitkjøtt</a>
                        </label>
                    </div>
                </div>


                <div class="card-body">
                    <div class="col-sm">
                        <input th:if="${list.contains('Fisk')}==true" class="form-check-input" type="checkbox" id="Fisk2"  value="Fisk" name="Fisk2" checked >
                        <input th:if="${list.contains('Fisk')}==false" class="form-check-input" type="checkbox" id="Fisk2"  value="Fisk" name="Fisk2">
                        <label class="form-check-label" for="Fisk2" >
                            <a style="color:#E79B15;"  >Fisk</a>
                        </label>
                    </div>
                </div>

                <div class="card-body">
                    <div class="col-sm">
                        <input th:if="${list.contains('Meieri')}==true" class="form-check-input" type="checkbox" id="Meieri" value="Meieri" name="Meieri" checked >
                        <input th:if="${list.contains('Meieri')}==false" class="form-check-input" type="checkbox" id="Meieri" value="Meieri" name="Meieri">
                        <label class="form-check-label" for="Meieri" >
                            <a style="color:#E79B15;"  >Meieri produkter</a>
                        </label>
                    </div>
                </div>

                <div class="card-body">
                    <div class="col-sm">
                        <input th:if="${list.contains('Egg')}==true" class="form-check-input" type="checkbox" id="Egg2" value="Egg" name="Egg2" checked >
                        <input th:if="${list.contains('Egg')}==false" class="form-check-input" type="checkbox" id="Egg2" value="Egg" name="Egg2">
                        <label class="form-check-label" for="Egg2" >
                            <a style="color:#E79B15;"  >Egg</a>
                        </label>
                    </div>
                </div>

                <div class="card-body">
                    <div class="col-sm">
                        <input th:if="${list.contains('Gelatin')}==true" class="form-check-input" type="checkbox" id="Gelatin" value="Gelatin" name="Gelatin" checked >
                        <input th:if="${list.contains('Gelatin')}==false" class="form-check-input" type="checkbox" id="Gelatin" value="Gelatin" name="Gelatin">
                        <label class="form-check-label" for="Gelatin" >
                            <a style="color:#E79B15;"  >Gelatin</a>
                        </label>
                    </div>
                </div>


            </div>

            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">E-stoffer</h4>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('Kurkumin')}==true" class="form-check-input" type="checkbox" id="Kurkumin" value="Kurkumin" name="Kurkumin" checked >
                            <input th:if="${list.contains('Kurkumin')}==false" class="form-check-input" type="checkbox" id="Kurkumin" value="Kurkumin" name="Kurkumin">
                            <label class="form-check-label" for="Kurkumin" >
                                <a style="color:#E79B15;"  >E100 Kurkumin</a>
                            </label>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('Riboflavin')}==true" class="form-check-input" type="checkbox" id="Riboflavin" value="Riboflavin" name="Riboflavin" checked >
                            <input th:if="${list.contains('Riboflavin')}==false" class="form-check-input" type="checkbox" id="Riboflavin" value="Riboflavin" name="Riboflavin">
                            <label class="form-check-label" for="Riboflavin" >
                                <a style="color:#E79B15;"  >E101 Riboflavin</a>
                            </label>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('Tartrazin')}==true" class="form-check-input" type="checkbox" id="Tartrazin" value="Tartrazin" name="Tartrazin" checked >
                            <input th:if="${list.contains('Tartrazin')}==false" class="form-check-input" type="checkbox" id="Tartrazin" value="Tartrazin" name="Tartrazin">
                            <label class="form-check-label" for="Tartrazin" >
                                <a style="color:#E79B15;"  >E102 Tartrazin</a>
                            </label>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('Kinolingult')}==true" class="form-check-input" type="checkbox" id="Kinolingult" value="Kinolingult" name="Kinolingult" checked >
                            <input th:if="${list.contains('Kinolingult')}==false" class="form-check-input" type="checkbox" id="Kinolingult" value="Kinolingult" name="Kinolingult">
                            <label class="form-check-label" for="Kinolingult" >
                                <a style="color:#E79B15;"  >E104 Kinolingult</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Butikker</h4>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="form-check" th:if="${user.getButikk()}=='REMA1000'" >
                            <input class="form-check-input" type="radio" name="butikk" id="exampleRadios2" value="REMA1000" checked >
                            <label class="form-check-label" for="exampleRadios2">
                                REMA1000
                            </label>
                            <p></p>
                            <input class="form-check-input" type="radio" name="butikk" id="exampleRadios3" value="KIWI" >
                            <label class="form-check-label" for="exampleRadios3">
                                Kiwi
                            </label>
                        </div>

                        <div class="form-check" th:if="${user.getButikk()}=='KIWI'" >
                            <input class="form-check-input" type="radio" name="butikk" id="exampleRadios2" value="REMA1000" >
                            <label class="form-check-label" for="exampleRadios2">
                                REMA1000
                            </label>
                            <p></p>
                            <input class="form-check-input" type="radio" name="butikk" id="exampleRadios3" value="KIWI" checked >
                            <label class="form-check-label" for="exampleRadios3">
                                Kiwi
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 box-shadow" style="min-width: 220px;" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Produkt kategorier</h4>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('Nokkelhull')}==true" class="form-check-input" type="checkbox" id="Nokkelhull" value="Nokkelhull" name="Nokkelhull" checked >
                            <input th:if="${list.contains('Nokkelhull')}==false" class="form-check-input" type="checkbox" id="Nokkelhull" value="Nokkelhull" name="Nokkelhull">
                            <label class="form-check-label" for="Nokkelhull" >
                                <a style="color:#E79B15;"  >Nøkkelhull</a>
                            </label>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('NytNorge')}==true" class="form-check-input" type="checkbox" id="NytNorge" value="NytNorge" name="NytNorge" checked >
                            <input th:if="${list.contains('NytNorge')}==false" class="form-check-input" type="checkbox" id="NytNorge" value="NytNorge" name="NytNorge">
                            <label class="form-check-label" for="NytNorge" >
                                <a style="color:#E79B15;"  >Nyt Norge</a>
                            </label>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('Okologisk')}==true" class="form-check-input" type="checkbox" id="Okologisk" value="Okologisk" name="Okologisk" checked >
                            <input th:if="${list.contains('Okologisk')}==false" class="form-check-input" type="checkbox" id="Okologisk" value="Okologisk" name="Okologisk">
                            <label class="form-check-label" for="Okologisk" >
                                <a style="color:#E79B15;"  >Økologisk</a>
                            </label>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-sm">
                            <input th:if="${list.contains('Halal')}==true" class="form-check-input" type="checkbox" id="Halal" value="Halal" name="Halal" checked >
                            <input th:if="${list.contains('Halal')}==false" class="form-check-input" type="checkbox" id="Halal" value="Halal" name="Halal">
                            <label class="form-check-label" for="Halal" >
                                <a style="color:#E79B15;"  >Halal</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Lagre</button>
        <a th:href="@{/}" ><button class="btn btn-outline-primary my-2 my-sm-0" >Fortsett å handle</button></a>

    </div>

    </form>



</main>

<div th:replace="header :: bottom" ></div>

</body>
</html>
